#myPage {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-areas:
        'nav nav'
        'ingredients instructions';
    grid-template-rows: 50px;
    grid-template-columns: 150px;
}


.ingredients {
    grid-area: ingredients;
    background-color: white;
    width: 20%;
}

.instructions {
    grid-area: instructions;
}

/*
Put classes where you want to identify an area.
*/