body {
    font-family: Lato;
    background-color: #FFC107;
}

p {
    color: white;
}

h1 {
    padding-bottom: 20px;
    text-align: center;
}

.container {
    padding: 80px 120px;
}

.btn-container {
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-left: 120px;
}

.bg-1 {
    background-color: #FFECB3;
}

.bg-2 {
    background-color: #FFC107;
    padding: 30px;
}

#home-link {
    color: white;
    font-size: larger;
    background-color: #FF9800;
    padding: 20px 20px;
}

.list-group {
    width: 80%;
    margin: auto;
}

.navbar {
    font-family: Montserrat;
    background-color: #FF9800;
    letter-spacing: 4px;
    
    opacity: 0.9;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar .navbar-brand:hover {
    opacity: 0.7;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: #FF5722 !important;
}

.carousel-inner img {
    width: 100%;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

.btn {
    margin: 0px;
    background-color: #FFC107;
    color: white;
    text-align: center;
    width: 100%;
}

.submit-form {
    position: absolute;
}

/* Grid section */
.grid {
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "ing inst inst";
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto;
    font-family: Baskerville;
}

nav {
    grid-area: nav;
}

.ingredients {
    grid-area: ing;
    max-width: 400px;
    margin-top: -20px; /* To counteract the bootstrap 20px navbar margin. */
    margin-right: 20px;
    padding-right: 20px;
    background-color: white;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    font-size: 20px;
}

.instructions {
    margin: 0% 30%;
    grid-area: inst;
    margin-top: -20px;
    font-size: 20px;
}

.center {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-family: Baskerville;
    font-size: 20px;
    opacity: 100;
    /* border-bottom: 1px dotted black; */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}