body {
    font-family: Lato;
    background-color: #FFC107;
}

p {
    color: white;
}

.container {
    padding-top: 80px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-left: 120px;
}

.btn-container {
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-left: 120px;
}

.bg-1 {
    background-color: white;
}

.bg-2 {
    background-color: #FFC107;
    padding: 30px;
}

#home-link {
    color: white;
    font-size: larger;
    background-color: #FF9800;
    padding: 20px 20px;
}

.navbar {
    font-family: Montserrat;
    background-color: #FF9800;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar .navbar-brand:hover {
    opacity: 0.7;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: #FF5722 !important;
}

.carousel-inner img {
    width: 100%;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

.btn {
    margin: 0px;
    background-color: #FFC107;
    color: white;
    text-align: center;
    width: 100%;
}

.submit-form {
    position: absolute;
}
